@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bigshot+One&family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --primary-color: #15499f;
  --secondary-color: #ecd0a4;
  --third-color: #2f288b;
  --text-color: #fbf6ec;
  --button-color: #150b5e;
  --footer-color: #e0bca0;
  --primary-font: "Bigshot One", cursive;
  --secondary-font: "Roboto Mono", monospace;
  --third-font: "Abril Fatface", cursive;
  --forth-font: "Raleway", sans-serif;
}

html,
body {
  font-family: var(--forth-font);
  background: linear-gradient(
    180deg,
    #9696df 0%,
    #7979db 36.98%,
    #6060cb 68.23%,
    #4949a9 99.99%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 600px;
  display: block;
  margin-top: 6%;
  padding: 30px 18px;
  background: linear-gradient(180deg, #15499f 0%, #1d3e77 53.12%, #150b5e 100%);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-city-division {
  padding: 25px 25px;
  background: rgba(236, 208, 164, 0.9);
}
#city-input {
  max-width: 330px;
  border-radius: 20px;
  font-size: 14px;
}
#search-input {
  background: var(--button-color);
  color: var(--text-color);
  margin-left: 10px;
  border-radius: 20px;
  transition: all 200ms ease;
  font-size: 14px;
  font-family: var(--forth-font);
  width: 80px;
  text-align: center;
}

#search-input:hover {
  color: var(--secondary-color);
}

.recent-city-division {
  padding: 25px 25px;
  background: rgba(21, 73, 159, 0.6);
}
h2 {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 40px;
}
h5 {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 14px;
}
h3 {
  color: var(--text-color);
  font-family: var(--third-font);
  font-size: 20px;
  padding: 20px 0;
}
.temperature {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 30px;
  padding-bottom: 20px;
}
.current-time {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 10px;
}
.feels-like,
.humidity,
.wind-speed {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 10px;
  padding-left: 15%;
  padding-top: 5px;
}

.weather-icon {
  width: 100px;
  padding-left: 20px;
  padding-bottom: 25px;
  padding-left: 15%;
}

.forecast-division {
  padding: 15px 25px;
  background: rgba(47, 40, 139, 0.6);
  text-align: center;
}

.day {
  color: var(--text-color);
  font-family: var(--forth-font);
  font-size: 14px;
}
.icon {
  margin-left: 3px;
}
.forecast-temp {
  color: var(--text-color);
  font-family: var(--forth-font);
  font-size: 10px;
  padding-bottom: 8px;
}

footer {
  text-align: center;
  font-size: 10px;
  padding: 10px 20px;
  color: var(--text-color);
}
footer a {
  font-size: 10px;
  text-decoration: none;
  color: var(--footer-color);
  transition: all 200ms ease;
}
footer a:hover {
  color: var(--button-color);
}
